body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.notification-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 12px;
}

.notification {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 1001;
    max-width: 90%;
    box-sizing: border-box;
}

.notification .close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-size: 20px;
    color: #999;
    transition: color 0.3s ease;
}

.notification .close:hover {
    color: #333;
}

.container {
    display: flex;
    padding: 20px;
    max-width: 1400px;
    margin: auto;
    gap: 40px;
    /* Khoảng cách giữa hai cột */
}

.left-column,
.right-column {
    width: 50%;
    /* Mỗi cột chiếm 50% chiều rộng */
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    text-align: center;
}

.info-box {
    width: 25%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #999999;
}

.info-box p {
    font-size: 15px;
    margin-bottom: 10px;
}

.info-box h4 {
    font-size: 2em;
    margin: 0;
}


h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* margin-bottom: 20px; */
}

table th {
    background-color: #f0f0f0;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* Điều chỉnh chiều rộng của cột "Yêu cầu" */
table th:first-child,
table td:first-child {
    width: 50%;
    /* Điều chỉnh tỷ lệ theo nhu cầu */
}

.text-center {
    text-align: center;
}

.write-request {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.write-request:hover {
    background-color: #0056b3;
}

.calendar,
.pending-requests,
.approved-requests {
    margin-top: 20px;
}

.calendar p {
    font-size: 1.2em;
    color: #555;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #007bff;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
}

/* ===================== CÁC LOẠI FORM  ================= */
.request-form {
    margin: auto;
    padding: 20px;
    max-width: 1360px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-row {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

.form-group {
    flex: 1;
    margin-right: 15px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.custom-btn {
    border-radius: 10px;
    width: 200px;
    justify-content: center;
    margin: 0 auto;
    display: block;
}

#timeSheetDropdown,
#trangThai,
#soGio,
#customHours {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
}

#timeSheetDropdown,
#trangThai,
#soGio option,
#customHours {
    padding: 10px;
}

/*================== POP UP ====================*/

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    position: relative;
    width: 70%;
}

/* CSS cho overlay */
.popup-overlay {
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

/* CSS cho button đóng */
.popup .popup-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    width: 150px;
    max-width: 100%;
    display: inline-block;
}

.popup .popup-button:hover {
    background-color: #0056b3;
}

.popup .popup-message {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Hiển thị popup */
.show-popup .popup,
.show-popup .popup-overlay {
    display: block;
}

/*================= REQ Quản lý ================== */

.search-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.search-box {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 50px;
}

.filter-group {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex: 1;
    margin-right: 20px;
}

.filter-group h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: normal;

}

.filter-group input[type="checkbox"] {
    margin-right: 15px;
}

.filter-group input[type="date"] {
    width: calc(50% - 10px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.filter-button {
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #0056b3;
}


.project-list-section table th:first-child,
.project-list-section table td:first-child {
    width: 25%;
}